
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'arial';
     /* width:100%; */

}
/* Top Nav Section */
#nav{
    background-color: black;
    padding: 1rem 10rem;

}
#nav a{
    background-color: rgb(37, 36, 36);
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    margin: .1rem 0rem;
    padding: .2rem 1rem;
    font-size: 1.5rem;
    transition: box-shadow .4s ease-in-out;
}
#nav a:hover{
    box-shadow: inset 190px 0 0 0 rgb(8, 4, 241) ;
    border-radius:3px;
}
#nav a:hover:last-child{
    box-shadow: inset 190px 0 0 0 rgb(255, 0, 0) ;
}

/* Header Hero Section */
#header-img{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(https://source.unsplash.com/random/100×1000?coconutree);
    height:650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem 5rem;
    background-size:contain;
    background-repeat: repeat-x;
   
}
#htext{
    color: rgb(243, 243, 243);
    /* -webkit-text-stroke: .1rem rgb(70, 55, 55); */
    padding: 1rem 0rem;
    font-size: 5rem;
   
}
#hp{
    color: rgb(214, 211, 5);
    /* -webkit-text-stroke: .6px rgb(0, 0, 0); */
    font-weight: bolder;
    font-size: 1.8rem;
}
/* Search box */
#find{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
#search{
    font-size: 1.5rem;
    color: black;
    letter-spacing: .1rem;
    padding:.5rem 2rem;
    width: 40%;
    height: 3rem;
    border-radius:.4rem;
    border: none;
}
#submit{
    height:3rem;
    width: 10%;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(253, 249, 0);
    color: #000;
    transition: .2s;
    border: none;
    border-radius: .3rem;

}
#submit:hover{
    background-color: rgb(255, 0, 119);
    color: #fff;
}
#hr{
    margin: 0px;
    height: 20px;
    width: 100%;
    background-color: rgb(0,0,0,0.7);
}
/* Top Ad */
#top-ad{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    max-height: 15rem;
}
#top-ad img{
    width: 60%;
}

/* Top Art section */
    /* #art{
        background-color: rgb(241, 60, 60);
        width: 100%;
    }
    #art img{
        width: 100%;
    } */
#art-hr{
    background-color: rgba(71, 70, 70, 0.274);
    height: .8rem;
}
/* Main Content Section */
#main{
    column-count: 5;
    object-fit: contain;
    column-gap: 3px;
    border-bottom: .1rem solid rgba(230, 227, 227, 0.479);
    margin-bottom: 2rem;
    margin: 0rem 1rem;
    box-shadow: 0rem 1rem 2rem -1.5rem; 
}
#main img{
    display: flex;
    width: 100%;
    margin: 1.5px 0px;
    transition: .2s;
       
}
#main img:hover{
    border-radius: 20px;
    /* filter: saturate(5); */
    filter: grayscale(100%);
    box-shadow: 0 0 30px black;
    
}

/* Load More */
#load-more{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    
}
#load-more button{
    background-color: rgb(0, 89, 255);
    color: #fff;
    width: 14rem;
    height: 3rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: none;       
}
#load-more button:hover{
    background-color: rgb(255, 6, 122);
}

/* Footer Section */
#footer{
    background-color: rgb(25, 26, 32);
    width: 100%;}
#row{
    display: flex;
    width:100%;
    /* justify-content:center; */
}
h2 {
    color: #fff;
    margin: 1.5rem 0rem;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-family: 'sans-serif';
    font-weight: 100;
    letter-spacing: 4px;
    
}
#categories{
    padding: 0rem 0rem 3rem 15rem;
    width: 50%;
    overflow: hidden;
}
#categories a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(39, 38, 38);
    border-radius: .3rem;
    padding: .6rem .6rem;
    font-size: 1rem;
    /* font-weight: bold; */
    margin: .3rem .5rem;
    float: left;
    transition: .2s;
    letter-spacing: 1px;
}
#categories a:hover{
    background-color: rgb(255, 6, 122);
}
        
#link{
    padding: 0rem 0rem 0rem 0rem;
    width: 50%;
    padding: 0px auto;
    text-align: center;
    float: left;
    overflow: hidden;
}

#link a img{
    width: 7%;
    margin-top: 2rem;
    margin-right: 2rem;
}
#f-img{
    padding-left: 2.3rem;
}
#link a img:hover{
     transform: scale(0.9, 0.5);
}
#bottom-nav{
    width: 100%;
    margin-top: 2rem;
}
#bottom-nav a{
    color: #fff;
    text-decoration: none;
    background-color: rgb(34, 33, 34);
    border-radius: .3rem;
    padding: .4rem .6rem;
    font-size: 1rem;
    /* font-weight: bold; */
    margin: .3rem .6rem;
    transition: .2s;
    letter-spacing: 1px;
}
#bottom-nav a:hover{
    background-color: rgb(255, 6, 122);
}

#copyright{
    border-top: .1rem rgba(54, 54, 54, 0.356) solid;
    height: 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
#creator{
    color: #fff;
}
#copyright a{
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    transition: .2s;
}
#copyright a:hover{
    text-decoration: underline;color: blue;}







/* @Media query */

/* 360px Mobile */

@media screen and (max-width: 360px) {
body {
    margin: 0px;
    box-shadow: unset;
    padding: 0px;
}
#nav {
    padding: .5rem 1rem;
}
#nav a {
    margin: .1rem 0rem;
    padding: .2rem .3rem;
    font-size: .6rem;
}
#header-img {
    height: 215px;
    padding: 0rem 2rem;
}
#htext {
    padding: .4rem 0rem;
    font-size: 1rem;
}
#hp {
    font-size: .7rem;
}
/* Search box */
#find{
    margin-top: 2rem;
}
#search{
    font-size: .7rem;
    letter-spacing: .1rem;
    padding:.5rem .7rem;
    width: 80%;
    height: 1.5rem;
}
#submit{
    height:1.3rem;
    width: 50%;
    margin-left: .3rem;
    font-size: .9rem;
}
#hr {
    margin: 0px;
    height: 2px;
}
#top-ad {
    margin-top: .3rem;
    max-height: 15rem;
}
#top-ad img {
    width: 40%;
}
#art {
    padding: 0;
    margin: 0;
    width: 100%;
}
#art img {
    width: 100%;
}
#art-hr {
    height: .5em;
}
#main {
    column-count: 2;
    margin: 0;
}
#load-more{
    margin: 2rem 0;
}
#load-more button{
    width: 10rem;
    height: 2rem;
    border-radius: .3rem;
    font-size: 1rem;
}

/* Footer Section */
#footer{
    background-color: rgb(22, 22, 22);
    width: 100%;
    display: flex;
    flex-direction: column;
}
#row{
    width: 100%;
    display: flex;
    flex-direction: column;
}
h2 {
    margin: 1.5rem 0rem;
    font-size: 1rem;
}
#categories{
    padding: 0rem 0 2rem 0rem;
    width: 100%;

}
#categories a{
    padding: .6rem 1rem;
    font-size: .7rem;
    margin: .3rem .5rem;
    /* float: left; */
}     
#link{
    padding: 0rem 0rem 2rem 0rem;
    width: 100%;
}
#f-img{
    padding-left: 2.6rem;
}
#link a img{
    width: 15%;
    margin-top: 1rem;
}
#bottom-nav{
    margin-top: 1.5rem;
}
#bottom-nav a{
    padding: .6rem 1rem;
    font-size: .7rem;
    margin: .3rem .5rem;
}
#copyright{
    font-size: .7rem;}
#creator{
    color: #fff;}
#copyright a{
    font-size: .7rem;}
}


/* 480px Mobile */

@media screen and (min-width: 360px) and (max-width: 480px) {
    body {
        margin: 0px;
        box-shadow: unset;
        padding: 0px;
    }
    #nav {
        padding: .5rem 1rem;
    }
    #nav a {
        margin: .1rem 0rem;
        padding: .2rem .3rem;
        font-size: .8rem;
    }
    #header-img {
        height: 280px;
        padding: 0rem 2rem;
    }
    #htext {
        padding: .4rem 0rem;
        font-size: 2rem;
    }
    #hp {
        font-size: .8rem;
    }
    /* Search box */
    #find{
        margin-top: 1rem;
    }
    #search{
        font-size: .7rem;
        letter-spacing: .1rem;
        padding:.5rem .7rem;
        width: 60%;
        height: 1.4rem;
    }
    #submit{
        height:1.3rem;
        width: 25%;
        margin-left: .3rem;
        font-size: .9rem;
    }
    #hr {
        margin: 0px;
        height: 2px;
    }
    #top-ad {
        margin-top: .3rem;
        max-height: 18rem;
    }
    #top-ad img {
        width: 50%;
    }
    #main {
        column-count: 2;
        margin: 0;
    }
    #load-more{
        margin: 2rem 0;
    }
    #load-more button{
        width: 10rem;
        height: 2rem;
        border-radius: .3rem;
        font-size: 1rem;
    }
    
    /* Footer Section */
    #footer{
        background-color: rgb(22, 22, 22);
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #row{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin: 1.5rem 0rem;
        font-size: 1.3rem;
    }
    #categories{
        padding: 0rem 0 2rem 0rem;
        width: 100%;
    
    }
    #categories a{
        padding: .6rem 1rem;
        font-size: .8rem;
        margin: .3rem .5rem;
    }     
    #link{
        padding: 0rem 0rem 2rem 0rem;
        width: 100%;
    }
    #f-img{
        padding-left: 2.6rem;
    }
    #link a img{
        width: 13%;
        margin-top: 1rem;
    }
    #bottom-nav{
        margin-top: 1.5rem;
    }
    #bottom-nav a{
        padding: .6rem 1rem;
        font-size: .7rem;
        margin: .3rem .5rem;
    }
    #copyright{
        font-size: .7rem;}
    #creator{
        color: #fff;}
    #copyright a{
        font-size: .7rem;}
    }


    /* 600px Mobile */

@media screen and (min-width:480px) and (max-width: 600px) {
    body {
        margin: 0px;
        box-shadow: unset;
        padding: 0px;
    }
    #nav {
        padding: .9rem 1.3rem;
    }
    #nav a {
        margin: .1rem 0rem;
        padding: .2rem .3rem;
        font-size: .9rem;
    }
    #header-img {
        height: 315px;
        padding: 0rem 2rem;
    }
    #htext {
        padding: .4rem 0rem;
        font-size: 2.1rem;
    }
    #hp {
        font-size: 1rem;
    }
    /* Search box */
    #find{
        margin-top: 1.5rem;
    }
    #search{
        font-size: .7rem;
        letter-spacing: .1rem;
        padding:.5rem .7rem;
        width: 50%;
        height: 1.5rem;
    }
    #submit{
        height:1.3rem;
        width: 25%;
        margin-left: .3rem;
        font-size: .9rem;
    }
    #hr {
        margin: 0px;
        height: 2px;
    }
    #top-ad {
        margin-top: .3rem;
        max-height: 15rem;
    }
    #top-ad img {
        width: 50%;
    }
    #art {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #art img {
        width: 100%;
    }
    #art-hr {
        height: .5em;
    }
    #main {
        column-count: 3;
        margin: 0;
    }
    #load-more{
        margin: 2rem 0;
    }
    #load-more button{
        width: 11rem;
        height: 2rem;
        border-radius: .3rem;
        font-size: 1rem;
    }
    
    /* Footer Section */
    #footer{
        background-color: rgb(22, 22, 22);
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #row{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin: 1.5rem 0rem;
        font-size: 1.5rem;
    }
    #categories{
        padding: 0rem 0rem 2rem .8rem;
        width: 100%;
    
    }
    #categories a{
        padding: .6rem 1rem;
        font-size: .9rem;
        margin: .3rem .5rem;
        /* float: left; */
    }     
    #link{
        padding: 0rem 0rem 2rem 0rem;
        width: 100%;
    }
    #f-img{
        padding-left: 2.6rem;
    }
    #link a img{
        width: 11%;
        margin-top: 1rem;
    }
    #bottom-nav{
        margin-top: 1.5rem;
    }
    #bottom-nav a{
        padding: .6rem 1rem;
        font-size: .7rem;
        margin: .3rem .5rem;
    }
    #copyright{
        font-size: .8rem;}
    #creator{
        color: #fff;}
    #copyright a{
        font-size: .8rem;}
    }
    
    
    /* 768px Tablet-I Pad */

@media screen and (min-width:600px) and (max-width: 768px) {
    body {
        margin: 0px;
        box-shadow: unset;
        padding: 0px;
    }
    #nav {
        padding: 1.3rem 1.6rem;
    }
    #nav a {
        margin: .4rem .4rem;
        padding: .2rem .4rem;
        font-size: 1.4rem;
    }
    #header-img {
        height: 460px;
        padding: 0rem 2rem;
    }
    #htext {
        padding: .4rem 0rem;
        font-size: 3.1rem;
    }
    #hp {
        font-size: 1.4rem;
    }
    /* Search box */
    #find{
        margin-top: 1.7rem;
    }
    #search{
        font-size: .7rem;
        letter-spacing: .1rem;
        padding:.5rem .7rem;
        width: 45%;
        height: 1.5rem;
    }
    #submit{
        height:1.5rem;
        width: 20%;
        margin-left: .3rem;
        font-size: .9rem;
    }
    #hr {
        margin: 0px;
        height: 2px;
    }
    #top-ad {
        margin-top: .3rem;
        max-height: 15rem;
    }
    #top-ad img {
        width: 50%;
    }
    #art {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #art img {
        width: 100%;
    }
    #art-hr {
        height: .5em;
    }
    #main {
        column-count: 3;
        margin: 0;
    }
    #load-more{
        margin: 2.5rem 0;
    }
    #load-more button{
        width: 14rem;
        height: 2.3rem;
        border-radius: .3rem;
        font-size: 1.3rem;
    }
    
    /* Footer Section */
    #footer{
        background-color: rgb(22, 22, 22);
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #row{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin: 1.5rem 0rem;
        font-size: 2rem;
    }
    #categories{
        padding: 0rem 0rem 2rem .8rem;
        width: 100%;
    
    }
    #categories a{
        padding: .6rem 1rem;
        font-size: 1rem;
        margin: .3rem .5rem;
        /* float: left; */
    }     
    #link{
        padding: 0rem 0rem 2rem 0rem;
        width: 100%;
    }
    #f-img{
        padding-left: 2.6rem;
    }
    #link a img{
        width: 8%;
        margin-top: 1rem;
    }
    #bottom-nav{
        margin-top: 1.5rem;
    }
    #bottom-nav a{
        padding: .6rem 1rem;
        font-size: 1rem;
        margin: .3rem .5rem;
    }
    #copyright{
        font-size: .9rem;}
    #creator{
        color: #fff;}
    #copyright a{
        font-size: .9rem;}
    }
    
     /* 1024px Laptop*/

@media screen and (min-width:768px) and (max-width: 1024px) {
    body {
        margin: 0px;
        box-shadow: unset;
        padding: 0px;
    }
    #nav {
        padding: 1.4rem 1.6rem;
    }
    #nav a {
        margin: .4rem .7rem;
        padding: .2rem .4rem;
        font-size: 1.4rem;
    }
    #header-img {
        height: 602px;
        padding: 0rem 2rem;
    }
    #htext {
        padding: .4rem 0rem;
        font-size: 4rem;
    }
    #hp {
        font-size: 1.7rem;
    }
    /* Search box */
    #find{
        margin-top: 1.7rem;
    }
    #search{
        font-size: .7rem;
        letter-spacing: .1rem;
        padding:.5rem .7rem;
        width: 40%;
        height: 1.7rem;
    }
    #submit{
        height:1.7rem;
        width: 20%;
        margin-left: .3rem;
        font-size: .9rem;
    }
    #hr {
        margin: 0px;
        height: 2px;
    }
    #top-ad {
        margin-top: .3rem;
        max-height: 15rem;
    }
    #top-ad img {
        width: 60%;
    }
    #art {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #art img {
        width: 100%;
    }
    #art-hr {
        height: .5em;
    }
    #main {
        column-count: 4;
        margin: 0;
    }
    #load-more{
        margin: 3.2rem 0;
    }
    #load-more button{
        width: 14rem;
        height: 2.3rem;
        border-radius: .3rem;
        font-size: 1.3rem;
    }
    
    /* Footer Section */
    #footer{
        background-color: rgb(22, 22, 22);
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #row{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin: 1.5rem 0rem;
        font-size: 2rem;
    }
    #categories{
        padding: 0rem 0rem 2rem .8rem;
        width: 100%;
    
    }
    #categories a{
        padding: .6rem 1rem;
        font-size: 1rem;
        margin: .3rem .5rem;
        /* float: left; */
    }     
    #link{
        padding: 0rem 0rem 2rem 0rem;
        width: 100%;
    }
    #f-img{
        padding-left: 2.6rem;
    }
    #link a img{
        width: 7%;
        margin-top: 1rem;
    }
    #bottom-nav{
        margin-top: 1.5rem;
    }
    #bottom-nav a{
        padding: .6rem 1rem;
        font-size: 1rem;
        margin: .3rem .5rem;
    }
    #copyright{
        font-size: 1rem;}
    #creator{
        color: #fff;}
    #copyright a{
        font-size: 1rem;}
    }



    /* 1224px XL Laptop*/

@media screen and (min-width:1024px) and (max-width: 1200px) {
    body {
        margin: 0px;
        box-shadow: unset;
        padding: 0px;
    }
    #nav {
        padding: 1.4rem 1.6rem;
    }
    #nav a {
        margin: .4rem .7rem;
        padding: .2rem .4rem;
        font-size: 1.6rem;
    }
    #header-img {
        height: 700px;
        padding: 0rem 2rem;
    }
    #htext {
        padding: .4rem 0rem;
        font-size: 4rem;
    }
    #hp {
        font-size: 1.7rem;
    }
    /* Search box */
    #find{
        margin-top: 1.7rem;
    }
    #search{
        font-size: .7rem;
        letter-spacing: .1rem;
        padding:.5rem .7rem;
        width: 30%;
        height: 1.7rem;
    }
    #submit{
        height:1.7rem;
        width: 10%;
        margin-left: .3rem;
        font-size: .9rem;
    }
    #hr {
        margin: 0px;
        height: 2px;
    }
    #top-ad {
        margin-top: .3rem;
        max-height: 15rem;
    }
    #top-ad img {
        width: 60%;
    }
    #art {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #art img {
        width: 100%;
    }
    #art-hr {
        height: .7rem;
    }
    #main {
        column-count: 4;
        margin: 0;
    }
    #load-more{
        margin: 3.2rem 0;
    }
    #load-more button{
        width: 15rem;
        height: 2.5rem;
        border-radius: .3rem;
        font-size: 1.5rem;
    }
    
    /* Footer Section */
    #footer{
        background-color: rgb(22, 22, 22);
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #row{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin: 1.5rem 0rem;
        font-size: 2rem;
    }
    #categories{
        padding: 0rem 0rem 2rem .8rem;
        width: 100%;
    
    }
    #categories a{
        padding: .6rem 1rem;
        font-size: 1.2rem;
        margin: .3rem .5rem;
        /* float: left; */
    }     
    #link{
        padding: 0rem 0rem 2rem 0rem;
        width: 100%;
    }
    #f-img{
        padding-left: 2.6rem;
    }
    #link a img{
        width: 7%;
        margin-top: 1rem;
    }
    #bottom-nav{
        margin-top: 1.5rem;
    }
    #bottom-nav a{
        padding: .6rem 1rem;
        font-size: 1.2rem;
        margin: .3rem .5rem;
    }
    #copyright{
        font-size: 1.1rem;}
    #creator{
        color: #fff;}
    #copyright a{
        font-size: 1.1rem;}
    }

    /* Media Query End */